<% title 'Dashboard', '' %>

<div class="" ng-controller="StatisticsFilter">
  <div class="row">
      <%= render :partial => 'dashboard/widgets/filter/default' %>
  </div>
  <div class="row">
    <%= render :partial => 'dashboard/widgets/atendimento/numbers' %>
    <%= render :partial => 'dashboard/widgets/atendimento/prices' %>
  </div>

  <div class="row">
    <%= render :partial => 'dashboard/widgets/atendimento/medicos' %>
  </div>
</div>