<!-- begin login -->
<div class="login login-v2 auth" data-pageload-addclass="animated fadeIn">
    <!-- begin brand -->
    <div class="login-header">
        <div class="brand">
            <span class="logo"></span> Gestão Clinica
            <small>Sistema Hospitalar</small>
        </div>
        <div class="icon">
            <i class="fa fa-sign-in"></i>
        </div>
    </div>
    <!-- end brand -->
    <div class="login-content">
        <p class="error empty-field alert alert-danger fade in m-b-15">Por favor, informe o usuário e senha.</p>
        <p class="error user-or-password alert alert-danger fade in m-b-15">Usuário ou senha invalido.</p>
        <form action="<%= auth_sign_in_path %>" method="POST" class="margin-bottom-0">
            <div class="form-group m-b-20">
                <input id="email-or-login" type="text" class="form-control input-lg" placeholder="Email ou Login" />
            </div>
            <div class="form-group m-b-20">
                <input id="password" type="password" class="form-control input-lg" placeholder="Senha" />
            </div>
            <div class="login-buttons">
                <button type="submit" class="btn btn-success btn-block btn-lg">Entrar</button>
            </div>
        </form>
    </div>
</div>
