<div class="login login-v2 auth" data-pageload-addclass="animated fadeIn">
    <!-- begin brand -->
    <div class="login-header">
        <div class="brand">
            <span class="logo"></span> Gestão Clinica
            <small>Sistema de Gestão</small>
        </div>
        <div class="icon">
            <i class="fa fa-sign-in"></i>
        </div>
    </div>
    <!-- end brand -->
    <div class="login-content">
        <p class="error empty-field alert alert-danger fade in m-b-15">Por favor, informe o usuário e senha.</p>
        <p class="error user-or-password alert alert-danger fade in m-b-15">Usuário ou senha invalido.</p>
     
        <% flash.each do |key, value| %>
          <div class="alert alert-danger fade in alert-<%= key %>">
            <a href="#" data-dismiss="alert" class="close">×</a>
            <ul>
              <li>
                <%= value %>
              </li>
            </ul>
          </div>
        <% end %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'margin-bottom-0') do |f| %>

            <div class="form-group m-b-20">
              <%= f.email_field :email, autofocus: true, id: 'email-or-login', class: 'form-control input-lg', placeholder: 'Email ou Login' %>
            </div>
            <div class="form-group m-b-20">
                <%= f.password_field :password, autocomplete: "off", class: 'form-control input-lg', placeholder: 'Senha' %>
            </div>
            <div class="login-buttons">
                <!-- <button type="submit" class="btn btn-success btn-block btn-lg">Entrar</button> -->
                <%= f.submit "Entrar", class: 'btn btn-success btn-block btn-lg' %>
            </div>
        <% end %>
    </div>
</div>
