<% title 'Saude Suplementar', 'lotes de faturamento' %>

<%= link_to new_faturamento_saude_suplementar_lote_path, class: 'btn btn-success m-r-5 m-b-5' do %>
  <span class="glyphicon glyphicon-plus"></span>
  Novo
<% end %>
<div class="row">
  <div class="col-md-12">
     <div class="panel panel-inverse">
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand">
            <i class="fa fa-expand"></i>
          </a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" data-original-title="" title="">
            <i class="fa fa-minus"></i>
          </a>
        </div>
        <h4 class="panel-title">Lotes</h4>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table 
            datatable=""
            id="data-lotes"
            class="table table-striped table-bordered table-center">

            <thead>
              <th>Numéro</th>
              <th>Data</th>
              <th>Status</th>
              <th>Atendimentos</th>
              <th>Valor</th>
              <th>Download</th>
            </thead>
            <tbody>
              <%= content_tag_for(:tr, @lotes) do |lote| %>
                <td><%= lote.numero %></td>
                <td><%= l(lote.created_at) %></td>
                <td><%= lote.status %></td>
                <td><%= lote.atendimentos.count %></td>
                <td><%= lote.valor %></td>
                <td>
                  <%= link_to '#', :class => 'btn btn-xs' do %>
                    <i class="fa fa-file-text-o"></i>
                  <% end %>

                  <%= link_to '#', :class => 'btn btn-xs' do %>
                    <i class="fa fa-file-pdf-o pdf-icon"></i>
                  <% end %>

                  <%= link_to '#', :class => 'btn btn-xs' do %>
                    <i class="fa fa-file-archive-o zip-icon"></i>
                  <% end %>
                </td>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>