<% title 'Novo Lote', 'saude suplementar faturamento' %>

<div class="row" ng-controller="SaudeSuplementarLote" ng-init="action()">
  <div class="col-md-10">
    <div class="panel panel-inverse">
      <div class="panel-heading">
          <div class="progress progress-striped progress-sm active pull-right m-t-5">
              <div class="progress-bar progress-bar-success" style="width: {{selecteds.length}}%">{{selecteds.length}}%</div>
          </div>
          <h4 class="panel-title">Atendimentos</h4>
      </div>
      <div class="panel-body">
            <table
              id="data-lotes"
              class="table table-striped table-bordered table-center table-hover"
            >
              <thead>
                <th># </th>
                <th>ID</th>
                <th>Data</th>
                <th>Profissional</th>
                <th>Paciente</th>
                <th>Valor</th>
              </thead>
              <tbody>
                <tr class="pointer" ng-repeat="atendimento in atendimentos" ng-click="select(atendimento);">
                  <td>
                    <input 
                      type="checkbox"
                      value="{{atendimento.id}}"
                      ng-checked="isSelected(atendimento)"
                    />
                  </td>
                  <td>{{atendimento.id}}</td>
                  <td>{{atendimento.data}}</td>
                  <td>{{atendimento.paciente.nome}}</td>
                  <td>{{atendimento.profissional.nome}}</td>
                  <td>{{atendimento.valor_total}}</td>
                </tr>
              </tbody>
            </table>


          <paging
            class="small"
            scroll-top="true" 
            page="currentPage" 
            page-size="pageSize" 
            total="total"
            ul-class="pagination"
            active-class="active"
            paging-action="action(page)"
            pg-href="#page-{page}"
            disabled-class="disabled">  
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-6 animated fadeIn fixed-scroll" ng-show="selecteds.length > 0">
    <div class="widget widget-stats bg-green">
      <div class="stats-icon"><i class="fa fa-usd"></i></div>
      <div class="stats-info">
        <h4>Valor do Lote</h4>
        <p>
          {{price}}
        </p> 
      </div>
    </div>
    <div class="">
      <button class="btn btn-lg btn-success pull-right">Gerar</button>
    </div>
  </div>
</div>