<div id="sidebar" class="sidebar">
  <!-- begin sidebar scrollbar -->
  <div data-scrollbar="true" data-height="100%">
    <!-- end sidebar user -->
    <!-- begin sidebar nav -->
    <ul class="nav">
      <li class="has-sub <%= menu_item_active(root_path) %>">
        <%= link_to root_path do %>
          <i class="fa fa-laptop"></i>
          <span>Dashboard</span>
        <% end %>
      </li>
      <li class="has-sub <%= menu_item_active(faturamento_saude_suplementar_lotes_path) %>">
        <a href="javascript:;">
          <b class="caret pull-right"></b>
          <i class="fa fa-usd"></i> 
          <span>Faturamento</span>
        </a>
        <ul class="sub-menu">
          <li class="<%= menu_item_active(faturamento_saude_suplementar_lotes_path) %>">
            <a href="<%= faturamento_saude_suplementar_lotes_path %>">
              Saude Suplementar
            </a>
          </li>
        </ul>
      </li>
      <li class="has-sub <%= menu_item_active(integration_apps_path) %>">
        <a href="javascript:;">
          <b class="caret pull-right"></b>
          <i class="fa fa-exchange"></i> 
          <span>Integrações</span>
        </a>
        <ul class="sub-menu">
          <li class="<%= menu_item_active(integration_apps_path) %>">
            <%= link_to integration_apps_path do %>
              <i class="fa fa-rocket"></i>
              <span>Aplicações</span>
            <% end %>
          </li>
        </ul>
      </li>
      <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
          <!-- end sidebar minify button -->
    </ul>
    <!-- end sidebar nav -->
  </div>
  <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>