<div class="col-md-12 m-b-10">
  <span class="f-s-18 f-w-500 text-inverse m-r-10 m-t-4 pull-left">
    Filtro por período:
  </span>
  <div class="btn-group pull-left m-r-10">
    <button class="btn  btn-white all active" ng-click="setFilter('all')">Todo</button>
    <button class="btn btn-white month" ng-click="setFilter('month')">Mês</button>
    <button class="btn btn-white week" ng-click="setFilter('week')">Semana</button>
    <button class="btn btn-white day" ng-click="setFilter('day')">Dia</button>
    <button 
      class="btn btn-white custom"
      title="Por data"
      data-toggle="tooltip"
      ng-click="displayDateRange()"
    >
      <i class="fa fa-calendar"></i>
    </button>
  </div>
  <div class="col-md-4 range-filter">
    <div class="input-group input-daterange pull-left col-md-7">
      <span class="input-group-addon">De</span>
      <input type="text" class="form-control" value="" ng-model="filter.of">
      <span class="input-group-addon">Até</span>
      <input type="text" class="form-control" value="" ng-model="filter.to">
    </div>
    <button 
      class="btn btn-success btn-sm pull-left m-l-5 m-t-1"
      ng-click="setFilter('custom', filter.of, filter.to)"
      ng-disabled="filter.of == '' || filter.to == ''"
    >
      Filtar
    </button>
  </div>
</div>