<div class="col-md-<%= size ||= 10 %>">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">Logs de Captura</h4>
    </div>
    <div class="panel-body">
      <table class="table table-striped text-center">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Iniciado em</th>
          <th class="text-center">Status</th>
          <th class="text-center">Cadastrados</th>
          <th class="text-center">Atualizados</th>
          <th class="text-center">Sem Ação</th>
          <th class="text-center">Tempo de Execução</th>
          <th class="text-center">Finalizado em</th>
        </tr>
          </thead>
          <tbody>
            <%= content_tag_for(:tr, logs) do |log| %>
              <td><%= log.id %></td>
              <td><%= l(log.started_at) %></td> 
              <td><%= status(log.status) %></td>
              <td><%= log.created_count %></td>
              <td><%= log.updated_count %></td>
              <td><%= log.no_action_count %></td>
              <td><%= ((log.finalized_at - log.started_at) / 1.minute).round %> minuto(s)</td>
              <td><%= l(log.finalized_at) %></td>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>
</div>