<div class="col-md-9">
  <div class="panel panel-inverse" ng-controller="SaudeSuplementarLote">
    <div class="panel-heading">
      <div class="panel-heading-btn">
        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" ng-click="reload()" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
      </div>
      <h4 class="panel-title">Lotes</h4>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table 
          datatable=""
          id="data-lotes"
          class="table table-striped table-bordered"
          atatable=""
          dt-options="options"
          dt-columns="columns"
          dt-instance="dtInstance">
        </table>
      </div>
    </div>
  </div>
</div>