<div class="col-md-9">
  <div class="panel panel-inverse">
    <div class="panel-heading">
      <div class="panel-heading-btn">
        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" ng-click="reload()" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
      </div>
      <h4 class="panel-title">Atendimentos</h4>
    </div>
    <div class="panel-body">
      <form class="form-inline" method="POST" ng-submit="create()">
        <fieldset>
            <div class="row p-b-35">
              <legend>Gerar Lotes</legend>
              <h4>Máximo de {{maxAtendimentos}} atendimentos por lote</h4>
              <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info" style="width: {{lot.length}}%">{{lot.length}}%</div>
              </div>
              <div class="pull-right">
                <div class="checkbox m-r-10">
                  <label>
                    <input type="checkbox" ng-click="selectAll($event)"/> Selecionar até {{maxAtendimentos}} Atendimentos
                  </label>
                </div>
                <button type="submit" class="btn btn-sm btn-info" ng-disabled="lot.length == 0">Gerar Lote</button>
              </div>
            </div>
            <hr/>
            <div class="table-responsive">
              <table 
                datatable=""
                id="data-table"
                class="table table-striped table-bordered"
                atatable=""
                dt-options="options"
                dt-columns="columns"
                dt-instance="dtInstance">
                <tfoot>
                  <tr>
                      <th># </th>
                      <th>Atendimento</th>
                      <th>Convênio</th>
                      <th>Paciente</th>
                      <th>Médico</th>
                      <th>Valor</th>
                  </tr>
                  </tfoot>
              </table>
            </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>