<div class="col-md-3 col-sm-6">
  <div class="widget widget-stats bg-green">
    <div class="stats-icon"><i class="fa fa-usd"></i></div>
    <div class="stats-info">
      <h4>Valor Total</h4>
      <p>{{total}}</p>  
    </div>
  </div>
</div>