<% title 'Saude Suplementar', 'envio de lostes para faturamento.' %>

<div class="row" ng-controller="SaudeSuplementarAtendimento">
  <%= render :partial => 'atendimentos' %>
  <%= render :partial => 'widget' %>
</div>