<div class="col-md-6" ng-controller="StatisticsMedicos" ng-init="init();">
  <div class="panel panel-inverse">
    <div class="panel-heading">
      <h4 class="panel-title">Médicos</h4>
    </div>
    <div class="panel-body p-t-0">
      <table class="table table-valign-middle m-b-0">
        <thead>
          <tr>  
            <th>Médico</th>
            <th class="text-center">Atendimentos</th>
            <th class="text-center">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="medico in medicos">
            <td>{{medico.crm}} - {{medico.nome}}</td>
            <td class="text-center">
              {{medico.statistics.atendimentos.total}}
              <%= render :partial => 'dashboard/widgets/shared/growth_hidden', :locals => { :object => 'medico.statistics.atendimentos.growth' } %>
            </td>
            <td class="text-center">
              {{medico.statistics.prices.total}}
              <%= render :partial => 'dashboard/widgets/shared/growth_hidden', :locals => { :object => 'medico.statistics.prices.growth' } %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


