  <!-- begin col-3 -->
<div class="col-md-3 col-sm-6" ng-controller="StatisticsAtendimentos" ng-init="init();">
  <div class="widget widget-stats bg-primary">
    <div class="stats-icon"><i class="fa fa-user-md"></i></div>
    <div class="stats-info">
      <h4>ATENDIMENTOS</h4>
      <p>
        <span class="percentage">
          {{numbers.growth}}% 
          <i ng-if="numbers.growth < 0" class="text-danger fa fa-arrow-down"></i>
          <i ng-if="numbers.growth > 0" class="text-success fa fa-arrow-up"></i>
          <i ng-if="numbers.growth == 0" class="text-info fa fa-minus"></i>
        </span> 
        {{numbers.total}}
      </p>  
    </div>
  </div>
</div>