<div class="col-md-3 col-sm-6" ng-controller="StatisticsPrices", ng-init="init();">
  <div class="widget widget-stats bg-green">
    <div class="stats-icon"><i class="fa fa-usd"></i></div>
    <div class="stats-info">
      <h4>FATURAMENTO</h4>
      <p>
        <span class="percentage">
          {{prices.growth}}%
          <i ng-if="prices.growth < 0" class="text-danger fa fa-arrow-down"></i>
          <i ng-if="prices.growth > 0" class="text-success fa fa-arrow-up"></i>
          <i ng-if="prices.growth == 0" class="text-info fa fa-minus"></i>
        </span> 
        {{prices.total}}
      </p> 
    </div>
  </div>
</div>