<div class="panel panel-inverse">
  <div class="panel-heading">
      <h4 class="panel-title">Dados de Cadastro</h4>
  </div>
  <div class="panel-body">
    <%= form_for(@integration_app, html: {role: "form" }) do |f| %>
      <% if @integration_app.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4><%= pluralize(@integration_app.errors.count, "error") %> prohibited this integration_app from being saved:</h4>

          <ul>
          <% @integration_app.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label 'Nome', class: "control-label" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label 'Dominio', class: "control-label" %>
        <%= f.text_field :domain, class: "form-control", placeholder: 'http://exemple.com' %>
      </div>

      <div class="form-group">
        <%= f.label 'Caminho de Teste', class: "control-label" %>
        <%= f.text_field :test_path, class: "form-control", placeholder: "api/v1/test" %>    
      </div>

      <div class="form-group">
        <%= f.label 'Caminho de Captura', class: "control-label" %>
        <%= f.text_field :capture_path, class: "form-control", placeholder: 'api/v1/atendimentos' %>
      </div>

      <div class="form-group">
        <%= f.label 'Caminho de Atualização', class: "control-label" %>
        <%= f.text_field :update_path, class: "form-control", placeholder: 'api/v1/atendimentos' %>
      </div>

      <div class="form-group">
        <%= f.label 'Intervalo da Captura', class: "control-label" %>
        <%= f.number_field :capture_interval, class: "form-control", placeholder: 120 %>
        <span class="help-block">Tempo de intervalo de captura dos atendimentos em minutos.</span>
      </div>

      <div class="form-group">
        <%= f.submit 'Salvar', class: "btn btn-success pull-right" %>
      </div>
    <% end %>
  </div>
</div>