<% title 'Edição da Aplicação', 'integração' %>

<div class="row">
  <div class="col-md-4">
    <div class="page-header">
      <%= link_to integration_apps_path, class: 'btn btn-white m-r-5 m-b-5' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Todos
      <% end %>
      <%= link_to @integration_app, class: 'btn btn-primary m-r-5 m-b-5' do %>
        <span class="glyphicon glyphicon-info-sign"></span>
        Visualizar
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render 'form' %>
  </div>
  <%= render :partial => 'integration/apps/shared/logs', :locals => {:logs => @integration_app.logs, :size => 8} %>
</div>