<% title 'Integrações' %>

<%= link_to new_integration_app_path, class: 'btn btn-success m-r-5 m-b-5' do %>
  <span class="glyphicon glyphicon-plus"></span>
  Adicionar
<% end %>
<div class="row">
  <%= content_tag_for(:div, @integration_apps, class: 'col-md-2') do |integration_app| %>
    <div class="panel">
      <div class="panel-body">
        <dl>
          <dt class="m-t-10">Nome:</dt>
          <dd><%= integration_app.name %></dd>

          <dt class="m-t-10">Dominio:</dt>
          <dd><%= integration_app.domain %></dd>

          <dt class="m-t-10">Caminho de Teste:</dt>
          <dd><%= integration_app.test_path %></dd>

          <dt class="m-t-10">Caminho de Captura:</dt>
          <dd><%= integration_app.capture_path %></dd>

          <dt class="m-t-10">Caminho de Atualização:</dt>
          <dd><%= integration_app.update_path %></dd>

          <dt class="m-t-10">Intervalo da Captura:</dt>
          <dd><%= integration_app.capture_interval %> <small>(em minutos)</small></dd>

          <dt class="m-t-10">Teste:</dt>
          <dd><%= status(integration_app.test_status) %></dd>

          <% if integration_app.logs.length > 0 %>
            <dt class="m-t-10">Ultima Captura:</dt>
            <dd><%= l(integration_app.logs.last.started_at) %></dd>
          <% end %>
        </dl>

        <%= link_to edit_integration_app_path(integration_app), class: 'btn btn-xs btn-info m-r-5 m-b-5 pull-right' do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Editar
        <% end %>
      </div>
    </div>
  <% end %>
</div>