<% title 'Nova Aplicação', 'integração' %>

<div class="row">
  <div class="col-md-4">
    <div class="page-header">
      <%= link_to integration_apps_path, class: 'btn btn-white m-r-5 m-b-5' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Todos
      <% end %>
    </div>

    <%= render 'form' %>
  </div>
</div>