<% title 'Aplicação', 'integrada' %>

<div class="row">
  <div class="col-md-2">
    <div class="page-header">
      <%= link_to integration_apps_path, class: 'btn btn-white m-r-5 m-b-5' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Todos
      <% end %>

      <%= link_to edit_integration_app_path(@integration_app), class: 'btn btn-info m-r-5 m-b-5' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="panel">
      <div class="panel-body">
        <dl>
          <dt class="m-t-10">Nome:</dt>
          <dd><%= @integration_app.name %></dd>

          <dt class="m-t-10">Dominio:</dt>
          <dd><%= @integration_app.domain %></dd>

          <dt class="m-t-10">Caminho de Teste:</dt>
          <dd><%= @integration_app.test_path %></dd>

          <dt class="m-t-10">Caminho de Captura:</dt>
          <dd><%= @integration_app.capture_path %></dd>

          <dt class="m-t-10">Caminho de Atualização:</dt>
          <dd><%= @integration_app.update_path %></dd>

          <dt class="m-t-10">Intervalo da Captura:</dt>
          <dd><%= @integration_app.capture_interval %> <small>(em minutos)</small></dd>

          <dt class="m-t-10">Teste:</dt>
          <dd><%= status(@integration_app.test_status) %></dd>

          <% if @integration_app.logs.length > 0 %>
            <dt class="m-t-10">Ultima Captura:</dt>
            <dd><%= l(@integration_app.logs.last.started_at) %></dd>
          <% end %>

        </dl>
      </div>
    </div>
  </div>
  <%= render :partial => 'integration/apps/shared/logs', :locals => {:logs => @integration_app.logs} %>
</div>