<span class="percentage" title="{{<%= object %>}}%">
  <i ng-if="<%= object %> < 0"  class="text-danger fa fa-arrow-down"></i>
  <i ng-if="<%= object %> > 0"  class="text-success fa fa-arrow-up"></i>
  <i ng-if="<%= object %> == 0" class="text-info fa fa-minus"></i>
</span> 