#toast-container > div{
  opacity: 0.8;
}

.percentage{
  font-size: 14px;
  padding-right: 15px;
}

.percentage i{
  background: #FFF;
  padding: 1px 3px;
  border-radius: 2px;
}

.range-filter{
  display: none;
}