<!DOCTYPE html>
<html lang="pt-br" ng-app="GestaoClinica">
<head>
  <meta charset="utf-8" />
  <title>Gestão Clinica - <%= yield(:title) %></title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="pace-top">
  <div id="page-loader" class="fade in"><span class="spinner"></span></div>
  <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
    <%= render(:partial => 'layouts/default/header', :locals => { :current_user => @current_user }) %>
    <%= render(:partial => 'layouts/default/sidebar') %>

    <div id="content" class="content">
      <!-- begin breadcrumb -->
      <ol class="breadcrumb pull-right">
        <li><a href="<%= root_path %>">Home</a></li>
        <li class="active"><%= yield(:title) %></li>
      </ol>
      <!-- end breadcrumb -->
      <h1 class="page-header"><%= yield(:title) %> <small><%= yield(:description) %></small></h1>
      <div class="row">
        <!-- begin col-3 -->
        <div class="col-md-12 col-sm-12">
        <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      App.init();
    });
  </script>
</body>
</html>