<!DOCTYPE html>
<html lang="pt-br" ng-app="GestaoClinica">
<head>
  <meta charset="utf-8" />
  <title>Gestão Clinica - <%= yield(:title) %></title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="pace-top">
  <div id="page-loader" class="fade in"><span class="spinner"></span></div>
  <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
    <div class="login-cover">
      <div class="login-cover-image"><img src="/assets/color-admin/img/login-bg/bg-2.jpg" data-id="login-cover-image" alt="" /></div>
      <div class="login-cover-bg"></div>
    </div>

    <div id="page-container" class="fade in">
      <%= yield %>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      App.init();
    });
  </script>
</body>
</html>